@import url('https://fonts.googleapis.com/css?family=Arimo');

body{
    font-family: 'Arimo', sans-serif;
}
img {
	color:#609fdc;
}

/*********************** HEADER ****************************/ 
header{
    background-color: #444444;
    height: 100px;
    padding: 0px;
    margin: 0px;
} 

h1{
	text-shadow: 3px 2px #000000;
}

.hContainer{
	color: #ffffff; 
	line-height: 0%;
	padding: 30px;
	padding-left: 25%;
}

.firstLogo{
	float: left; 
	clear: left;
	margin-top: -100px; 
	margin-left: 20px; 
	width: 70px; 
	height: 70px; 
}

form{
    width:500px;
    margin:0 auto;
}
.search { 
    padding:6px 15px 6px 30px;
    margin:3px; 
    background: url('img/search.png') no-repeat 8px 6px; 
}

input[type=text]{
    color:#bcbcbc;
}   

.rounded {
    border-radius:15px; 
    -moz-border-radius:15px; 
    -webkit-border-radius:15px; 
    
    background: url('img/dark-grey.jpg');
    width:95%;
    height:30px;
    padding:20px 40px;
}

.dark{
	padding-top: 25px;
	margin-top: -110px; 
}
.dark input[type=text]{
    border:1px solid #f2f2f2;
    background-color:#2d3035;
    color:#505358;
}
/********************* HEADER END **************************/ 



/********************* NAVIGATION **************************/ 
nav{
    background-color: #323232;
    padding: 0%;
    margin: 0%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-right: 36%;
    overflow: hidden;
}


.nListItem {
    float: right;
    
}

.nListItem a {
    display: block;
    color: #ffffff; 
    padding: 8px 16px;
    text-decoration: none;
    
}


/* Changes the link color on hover */
.nListItem a:hover {
    background-color:#609fdc;
    color: white;
}
/********************* NAVIGATION END **********************/ 


/************************ SECTION **************************/ 
* {
    box-sizing: border-box;
}

section {
    float: left;
    width: 70%;
    padding: 50px;
    margin-top: 2px;
    height: 60%;
}


.container {
    border-radius: 5px;
    background-color: #cecece;
	padding: -50px;
    margin: -20px;
    margin-top: -38px;
}

textarea{
	color: #ffffff; 
    background-color: #b7b7b7;
}

form{
	color: #ffffff; 
}

::placeholder {
	color: #ffffff;
}


input[type=text], select, textarea {
    background-color: #b7b7b7;
    color: #ffffff;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
    background-color: #b7b7b7;
    color: #ffffff;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #609fdc;
    color: white;
	padding: 10px 10px;
	margin-left: 200px;
	margin-bottom: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #609fdc;
}

	
@media screen  and(min-width: 970px){
		.me{ display: none;}
}
	
@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}	

/*********************** SECTION END **********************/ 


/************************** ASIDE *************************/ 
aside {

	background-color:#fafafa; 
    float: right;
    width: 29.5%;
    padding: 50px;
    margin-top: 2px;
    height: 60%;
}

.aHeader{
	color: #ffffff;
	width: 100%;
	text-align: center;
	background-color: #609fdc;
	margin-bottom: 20px;
	height: 10%;
}

aside h4{
    color: #000000;  
    text-align: center; 
    margin-top: 1px;
}

aside p{
	color: #609fdc; 
}

aside a{
	text-decoration: none;
	color: #2386d5;
}

.aText{
	margin-left: 110px;
}

/*********************** ASIDE END **********************/ 


/************************** FOOTER *************************/ 
footer{
    background-color:#fafafa;
    padding: 110px;
	position: fixed;
    bottom: 0;
    width: 100%;
	height: 20px;
	margin-top: 20px;
	display: block; 
}

.fImg{
	float:right;
	clear: right;
	padding-top: 100px;
	width:300px;
    height:70px;
	padding: 1em;
	margin: -80px -20px -50px 10px;
}

.fImg img{
	width: 50px;
	padding: 5px;
}

.secondLogo{
	margin-top: -40px; 
	margin-left: 100px; 
	width: 70px; 
	height: 70px; 
}

.fPara{
	margin-top: 130px;
	padding-left: 40px;
}


.footerUl{
	text-decoration: none;
    list-style-type: none;
	margin: -200px 50px -50px 10px;
    padding: 0;
    width: 200px;
    text-align: center; 
}

.footerUl a{
	text-decoration: none;
	color: #000000; 
}

.fListItem a:hover {
	text-decoration: none;
    background-color: #609fdc;
    color: #000000;
}

.vlOne {
    border-left: 1px solid #E0E0E0;
    height: 200px;
	position: fixed;
    left: 30%;
	margin-left: -3px;
	margin-top: -100px;
    top: 60;
}

.vlTwo {
    border-left: 1px solid #E0E0E0;
    height: 200px;
	position: fixed;
    left: 70%;
	margin-left: -3px;
	margin-top: -100px;
    top: 10;
}


.fMiddle{
	padding-left: 38%;
	border: 2px #000000;
	padding-bottom: 20px;
}


.fMiddle p{
	padding-left: -40px;
	margin-top: -10px;
}

.fPara{
	margin-right: 30px;
}
/*********************** FOOTER END **********************/ 


/********************* MEDIA QUERIES *************************/ 
@media screen and (max-width: 750px) {
	
	header{
		float: none;
		width: 100%;
	}
	
	nav {
		float: none;
		width: 100%;
	  }

	section{
		float: none;
		width: 100%;
	}
	aside{
		float: none;
		width: 100%; 
	}

	footer{
		float: none;
		width: 100%;
	}
}
/******************* MEDIA QUERIES END **********************/ 
    
